@import '../styles/variables';

.main {

    :global {

        * {
            margin: 0;
            padding: 0;
        }

        background-color: yellow;
        width: 100vw;
        height: 100vh;
    }
}


